USE [master]
GO
/****** Object:  Database [20232452021_PROJE]    Script Date: 14.12.2024 02:17:37 ******/
CREATE DATABASE [20232452021_PROJE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'20232452021_PROJE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\20232452021_PROJE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'20232452021_PROJE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\20232452021_PROJE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [20232452021_PROJE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [20232452021_PROJE]
GO
/****** Object:  Table [dbo].[CEZALAR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEZALAR](
	[Ceza_ID] [smallint] NOT NULL,
	[UyeID] [int] NULL,
	[Kitap_ID] [int] NULL,
	[Şube_ID] [int] NULL,
	[Ceza_Miktarı] [decimal](4, 2) NULL,
	[Ödendi_Mi] [bit] NULL,
	[Eklenme_Tarihi] [date] NULL,
	[Güncellenme_Tarihi] [date] NULL,
	[Fatura_ID] [int] NULL,
	[Ekeleyen_Personel_ID] [tinyint] NULL,
	[Güncelleyen_Personel_ID] [tinyint] NULL,
	[Gecikme_Süresi] [nvarchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Ceza_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETKİNLİKLER]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETKİNLİKLER](
	[Etkinlik_ID] [int] NOT NULL,
	[İçerik] [nvarchar](50) NULL,
	[Tarih] [date] NULL,
	[Saat] [nvarchar](50) NULL,
	[Şube_ID] [int] NULL,
	[Ücret] [decimal](18, 2) NULL,
	[Ekeleyen_Personel_ID] [tinyint] NULL,
	[Güncelleyen_Personel_ID] [tinyint] NULL,
	[Eklenme_Tarihi] [date] NULL,
	[Güncellenme_Tarihi] [date] NULL,
 CONSTRAINT [PK_ETKİNLİKLER] PRIMARY KEY CLUSTERED 
(
	[Etkinlik_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATURALAR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATURALAR](
	[Fatura_ID] [int] NOT NULL,
	[UyeID] [int] NULL,
	[Personel_ID] [int] NULL,
	[Fatura_Tarihi] [date] NULL,
	[Ödeme_Tarihi] [date] NULL,
	[Tutar] [decimal](18, 2) NULL,
	[Durum] [nvarchar](20) NULL,
	[Ödeme_Yöntemi] [nvarchar](20) NULL,
	[Ekleyen_Personel_ID] [tinyint] NULL,
	[Güncelleyen_Personel_ID] [tinyint] NULL,
	[Eklenme_Tarihi] [date] NULL,
	[Güncellenme_Tarihi] [date] NULL,
	[Para_Birikimi] [nvarchar](10) NULL,
 CONSTRAINT [PK_FATURALAR] PRIMARY KEY CLUSTERED 
(
	[Fatura_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KİTAPLAR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KİTAPLAR](
	[Kitap_ID] [int] NOT NULL,
	[Kitap_Adı] [nvarchar](50) NULL,
	[YazarID] [int] NULL,
	[Yayinci_ID] [int] NULL,
	[Tür_ID] [smallint] NULL,
	[Sayfa_Sayısı] [int] NULL,
	[Raf_No] [tinyint] NULL,
	[Durum] [nvarchar](20) NULL,
	[Eklenme_Tarihi] [date] NULL,
	[Güncellenme_Tarihi] [date] NULL,
	[Adet] [tinyint] NULL,
	[Talep] [nvarchar](10) NULL,
	[Resimli] [bit] NULL,
	[Ortalama_Puan] [decimal](18, 2) NULL,
	[Alındığı_Fiyat] [decimal](18, 2) NULL,
	[Çevirmen] [nvarchar](50) NULL,
	[Basım_Yılı] [smallint] NOT NULL,
	[Dil] [nvarchar](50) NULL,
 CONSTRAINT [PK_KİTAPLAR] PRIMARY KEY CLUSTERED 
(
	[Kitap_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[Personel_ID] [int] NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Doğum_Tarihi] [date] NOT NULL,
	[Telefon] [char](10) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](20) NOT NULL,
	[Pozisyon] [nvarchar](20) NOT NULL,
	[Maaş] [decimal](10, 2) NOT NULL,
	[Şube_ID] [int] NOT NULL,
	[İşe_Giriş_Tarihi] [date] NULL,
	[Eğitim_Durumu] [nvarchar](30) NULL,
	[Güncellenme_Tarihi] [date] NULL,
 CONSTRAINT [PK_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ŞUBELER]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ŞUBELER](
	[Şube_ID] [int] NOT NULL,
	[Adres] [nvarchar](20) NOT NULL,
	[Telefon] [char](10) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Kitap_Sayısı] [smallint] NULL,
	[Üye_Sayısı] [tinyint] NULL,
	[Açılış_Yılı] [date] NULL,
	[Aktif Mi] [bit] NULL,
	[Eklenme_Tarihi] [date] NULL,
	[Güncellenme_Tarihi] [date] NULL,
	[Çalışan_Sayısı] [int] NULL,
	[Çalışma_Saatleri] [nvarchar](50) NULL,
 CONSTRAINT [PK_ŞUBELER] PRIMARY KEY CLUSTERED 
(
	[Şube_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TÜRLERR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TÜRLERR](
	[Tür_ID] [smallint] NOT NULL,
	[Ad] [nvarchar](20) NULL,
	[Eklenme_Tarihi] [date] NULL,
	[Güncellenme_Tarihi] [date] NULL,
	[Popülerlik_Puanı] [decimal](18, 2) NULL,
	[Kitap_Sayısı] [smallint] NULL,
	[Yazar_Sayısı] [tinyint] NULL,
 CONSTRAINT [PK_TÜRLERR] PRIMARY KEY CLUSTERED 
(
	[Tür_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ÜYELERR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ÜYELERR](
	[UyeID] [int] NOT NULL,
	[TcNo] [char](11) NOT NULL,
	[Adı] [nvarchar](30) NULL,
	[Soyadı] [nvarchar](30) NULL,
	[DoğumTarihi] [date] NULL,
	[Telefon] [char](10) NULL,
	[Mail] [nvarchar](50) NULL,
	[Adres] [nvarchar](50) NULL,
	[UyelikTarihi] [date] NULL,
	[UyelikDurumu] [nchar](10) NULL,
	[Ceza_ID] [smallint] NULL,
	[ÖdünçSayısı] [smallint] NULL,
	[ÖğrenciMi] [bit] NULL,
	[SonGirişTarihi] [date] NULL,
	[Cinsiyet] [char](5) NULL,
	[İlgiAlanı] [nchar](20) NULL,
	[Giriş_Saati] [time](7) NULL,
	[Çıkış_Saati] [time](7) NULL,
 CONSTRAINT [PK_ÜYELERR] PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAYINCILAR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAYINCILAR](
	[Yayinci_ID] [int] NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Kuruluş] [smallint] NULL,
	[Ülke] [nvarchar](20) NULL,
	[Şehir] [nvarchar](30) NULL,
	[Telefon] [char](10) NULL,
	[Kitap Sayıları] [nvarchar](50) NULL,
	[Ödüller] [nvarchar](20) NULL,
	[Mail] [nvarchar](90) NULL,
	[Web Sitesi] [nvarchar](50) NULL,
	[Durum] [nvarchar](50) NULL,
	[Güncellenme Tarihi] [date] NULL,
 CONSTRAINT [PK_YAYINCILAR] PRIMARY KEY CLUSTERED 
(
	[Yayinci_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAZARLAR]    Script Date: 14.12.2024 02:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAZARLAR](
	[YazarID] [int] NOT NULL,
	[Ad] [nvarchar](20) NULL,
	[Soyadı] [nvarchar](20) NULL,
	[Doğum_Yılı] [int] NULL,
	[Ölüm_Yılı] [int] NULL,
	[Ülke] [nvarchar](20) NULL,
	[Eser_Sayısı] [smallint] NULL,
	[Ödül_Sayısı] [tinyint] NULL,
	[Web_Sitesi] [nvarchar](30) NULL,
	[Doğum_Yeri] [nvarchar](20) NULL,
	[Popülerlik_Puanı] [decimal](10, 2) NULL,
	[Çalışma_Alanı] [nvarchar](20) NULL,
 CONSTRAINT [PK_YAZARLAR] PRIMARY KEY CLUSTERED 
(
	[YazarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CEZALAR] ([Ceza_ID], [UyeID], [Kitap_ID], [Şube_ID], [Ceza_Miktarı], [Ödendi_Mi], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Fatura_ID], [Ekeleyen_Personel_ID], [Güncelleyen_Personel_ID], [Gecikme_Süresi]) VALUES (1, 1, 11, 10, CAST(5.20 AS Decimal(4, 2)), 1, CAST(N'2024-09-23' AS Date), CAST(N'2024-09-30' AS Date), 20, 1, 1, N'0')
INSERT [dbo].[CEZALAR] ([Ceza_ID], [UyeID], [Kitap_ID], [Şube_ID], [Ceza_Miktarı], [Ödendi_Mi], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Fatura_ID], [Ekeleyen_Personel_ID], [Güncelleyen_Personel_ID], [Gecikme_Süresi]) VALUES (2, 2, 12, 20, CAST(6.00 AS Decimal(4, 2)), 0, CAST(N'2024-12-05' AS Date), CAST(N'2024-12-07' AS Date), 21, 2, 2, N'0')
INSERT [dbo].[CEZALAR] ([Ceza_ID], [UyeID], [Kitap_ID], [Şube_ID], [Ceza_Miktarı], [Ödendi_Mi], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Fatura_ID], [Ekeleyen_Personel_ID], [Güncelleyen_Personel_ID], [Gecikme_Süresi]) VALUES (3, 3, 13, 30, CAST(3.50 AS Decimal(4, 2)), 1, CAST(N'2024-11-25' AS Date), CAST(N'2024-12-01' AS Date), 22, 3, 3, N'1')
GO
INSERT [dbo].[ETKİNLİKLER] ([Etkinlik_ID], [İçerik], [Tarih], [Saat], [Şube_ID], [Ücret], [Ekeleyen_Personel_ID], [Güncelleyen_Personel_ID], [Eklenme_Tarihi], [Güncellenme_Tarihi]) VALUES (1, N'Söyleşi', CAST(N'2024-12-24' AS Date), N'13:30', 10, CAST(5.00 AS Decimal(18, 2)), 1, 1, CAST(N'2024-12-01' AS Date), CAST(N'2024-12-10' AS Date))
INSERT [dbo].[ETKİNLİKLER] ([Etkinlik_ID], [İçerik], [Tarih], [Saat], [Şube_ID], [Ücret], [Ekeleyen_Personel_ID], [Güncelleyen_Personel_ID], [Eklenme_Tarihi], [Güncellenme_Tarihi]) VALUES (2, N'İmza Günü', CAST(N'2025-01-03' AS Date), N'15:00', 20, CAST(0.00 AS Decimal(18, 2)), 2, 2, CAST(N'2024-12-10' AS Date), CAST(N'2024-12-11' AS Date))
INSERT [dbo].[ETKİNLİKLER] ([Etkinlik_ID], [İçerik], [Tarih], [Saat], [Şube_ID], [Ücret], [Ekeleyen_Personel_ID], [Güncelleyen_Personel_ID], [Eklenme_Tarihi], [Güncellenme_Tarihi]) VALUES (3, N'İmza Günü', CAST(N'2024-10-09' AS Date), N'10:50', 30, CAST(0.00 AS Decimal(18, 2)), 3, 3, CAST(N'2024-09-30' AS Date), CAST(N'2024-10-01' AS Date))
GO
INSERT [dbo].[FATURALAR] ([Fatura_ID], [UyeID], [Personel_ID], [Fatura_Tarihi], [Ödeme_Tarihi], [Tutar], [Durum], [Ödeme_Yöntemi], [Ekleyen_Personel_ID], [Güncelleyen_Personel_ID], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Para_Birikimi]) VALUES (20, 1, 1, CAST(N'2024-10-13' AS Date), CAST(N'2024-10-14' AS Date), CAST(5.00 AS Decimal(18, 2)), N'Ödendi', N'Nakit', 1, 1, CAST(N'2024-10-14' AS Date), CAST(N'2024-12-07' AS Date), N'TL')
INSERT [dbo].[FATURALAR] ([Fatura_ID], [UyeID], [Personel_ID], [Fatura_Tarihi], [Ödeme_Tarihi], [Tutar], [Durum], [Ödeme_Yöntemi], [Ekleyen_Personel_ID], [Güncelleyen_Personel_ID], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Para_Birikimi]) VALUES (21, 2, 2, CAST(N'2024-05-27' AS Date), CAST(N'2024-05-30' AS Date), CAST(12.00 AS Decimal(18, 2)), N'Beklemede', N'Kart', 2, 2, CAST(N'2024-05-30' AS Date), CAST(N'2024-12-07' AS Date), N'TL')
INSERT [dbo].[FATURALAR] ([Fatura_ID], [UyeID], [Personel_ID], [Fatura_Tarihi], [Ödeme_Tarihi], [Tutar], [Durum], [Ödeme_Yöntemi], [Ekleyen_Personel_ID], [Güncelleyen_Personel_ID], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Para_Birikimi]) VALUES (22, 3, 3, CAST(N'2024-02-19' AS Date), CAST(N'2024-02-21' AS Date), CAST(17.00 AS Decimal(18, 2)), N'İptal', N'Kart', 3, 3, CAST(N'2024-02-19' AS Date), CAST(N'2024-12-07' AS Date), N'Dolar')
GO
INSERT [dbo].[KİTAPLAR] ([Kitap_ID], [Kitap_Adı], [YazarID], [Yayinci_ID], [Tür_ID], [Sayfa_Sayısı], [Raf_No], [Durum], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Adet], [Talep], [Resimli], [Ortalama_Puan], [Alındığı_Fiyat], [Çevirmen], [Basım_Yılı], [Dil]) VALUES (11, N'Sefiller', 1, 1, 30, 176, 2, N'Mevcut', CAST(N'2014-05-04' AS Date), CAST(N'2024-11-18' AS Date), 5, N'Az', 0, CAST(4.50 AS Decimal(18, 2)), CAST(3.70 AS Decimal(18, 2)), N'Kerem Çetin', 1862, N'Fransızca')
INSERT [dbo].[KİTAPLAR] ([Kitap_ID], [Kitap_Adı], [YazarID], [Yayinci_ID], [Tür_ID], [Sayfa_Sayısı], [Raf_No], [Durum], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Adet], [Talep], [Resimli], [Ortalama_Puan], [Alındığı_Fiyat], [Çevirmen], [Basım_Yılı], [Dil]) VALUES (12, N'Dokuzuncu Hariciye Koğuşu', 2, 2, 30, 125, 3, N'Mevcut', CAST(N'2016-09-06' AS Date), CAST(N'2024-11-18' AS Date), 4, N'Çok', 0, CAST(4.10 AS Decimal(18, 2)), CAST(3.50 AS Decimal(18, 2)), N'Yok', 1930, N'Türkçe')
INSERT [dbo].[KİTAPLAR] ([Kitap_ID], [Kitap_Adı], [YazarID], [Yayinci_ID], [Tür_ID], [Sayfa_Sayısı], [Raf_No], [Durum], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Adet], [Talep], [Resimli], [Ortalama_Puan], [Alındığı_Fiyat], [Çevirmen], [Basım_Yılı], [Dil]) VALUES (13, N'Küçük Prens', 3, 1, 32, 104, 4, N'Mevcut', CAST(N'2024-11-18' AS Date), CAST(N'2024-11-28' AS Date), 8, N'Az', 1, CAST(3.90 AS Decimal(18, 2)), CAST(10.25 AS Decimal(18, 2)), N'Murat Sukan', 1943, N'Fransızca')
GO
INSERT [dbo].[PERSONEL] ([Personel_ID], [Ad], [Soyad], [Doğum_Tarihi], [Telefon], [Mail], [Adres], [Pozisyon], [Maaş], [Şube_ID], [İşe_Giriş_Tarihi], [Eğitim_Durumu], [Güncellenme_Tarihi]) VALUES (1, N'Nurgül', N'Palandöken', CAST(N'1990-03-14' AS Date), N'5068409022', N'nurgulplndk@hotmail.com', N'Nazilli', N'Kütüphaneci', CAST(20.00 AS Decimal(10, 2)), 10, CAST(N'2020-02-11' AS Date), N'Üniversite', CAST(N'2024-12-06' AS Date))
INSERT [dbo].[PERSONEL] ([Personel_ID], [Ad], [Soyad], [Doğum_Tarihi], [Telefon], [Mail], [Adres], [Pozisyon], [Maaş], [Şube_ID], [İşe_Giriş_Tarihi], [Eğitim_Durumu], [Güncellenme_Tarihi]) VALUES (2, N'Ahmet', N'Yurtçu', CAST(N'1980-06-17' AS Date), N'5743296489', N'ahmetyrtc@gmail.com', N'Marmaris', N'Kütüphaneci', CAST(18.00 AS Decimal(10, 2)), 20, CAST(N'2014-05-12' AS Date), N'Lise', CAST(N'2024-12-06' AS Date))
INSERT [dbo].[PERSONEL] ([Personel_ID], [Ad], [Soyad], [Doğum_Tarihi], [Telefon], [Mail], [Adres], [Pozisyon], [Maaş], [Şube_ID], [İşe_Giriş_Tarihi], [Eğitim_Durumu], [Güncellenme_Tarihi]) VALUES (3, N'Narin', N'Keser', CAST(N'1979-08-31' AS Date), N'5573908979', N'narinksr@gmail.com', N'Konak', N'Kütüphaneci', CAST(19.00 AS Decimal(10, 2)), 30, CAST(N'2016-04-15' AS Date), N'Lise', CAST(N'2024-12-07' AS Date))
GO
INSERT [dbo].[ŞUBELER] ([Şube_ID], [Adres], [Telefon], [Mail], [Kitap_Sayısı], [Üye_Sayısı], [Açılış_Yılı], [Aktif Mi], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Çalışan_Sayısı], [Çalışma_Saatleri]) VALUES (10, N'Nazilli', N'2421560203', N'nazillisube@kutuphane.com', 58, 30, CAST(N'2006-04-13' AS Date), 1, CAST(N'2009-04-13' AS Date), CAST(N'2024-12-06' AS Date), 2, N'09:00 - 21:00')
INSERT [dbo].[ŞUBELER] ([Şube_ID], [Adres], [Telefon], [Mail], [Kitap_Sayısı], [Üye_Sayısı], [Açılış_Yılı], [Aktif Mi], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Çalışan_Sayısı], [Çalışma_Saatleri]) VALUES (20, N'Marmaris', N'2457308079', N'marmarissube@kutupane.com', 60, 41, CAST(N'2010-06-11' AS Date), 1, CAST(N'2010-06-11' AS Date), CAST(N'2024-12-06' AS Date), 2, N'09:00 - 21:00')
INSERT [dbo].[ŞUBELER] ([Şube_ID], [Adres], [Telefon], [Mail], [Kitap_Sayısı], [Üye_Sayısı], [Açılış_Yılı], [Aktif Mi], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Çalışan_Sayısı], [Çalışma_Saatleri]) VALUES (30, N'Konak', N'2415896374', N'konaksube@kutupane.com', 81, 27, CAST(N'2008-11-23' AS Date), 1, CAST(N'2008-11-23' AS Date), CAST(N'2024-12-06' AS Date), 2, N'09:00 - 21:00')
GO
INSERT [dbo].[TÜRLERR] ([Tür_ID], [Ad], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Popülerlik_Puanı], [Kitap_Sayısı], [Yazar_Sayısı]) VALUES (30, N'Roman', CAST(N'2008-12-31' AS Date), CAST(N'2024-12-04' AS Date), CAST(4.90 AS Decimal(18, 2)), 7, 7)
INSERT [dbo].[TÜRLERR] ([Tür_ID], [Ad], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Popülerlik_Puanı], [Kitap_Sayısı], [Yazar_Sayısı]) VALUES (31, N'Kurgu', CAST(N'2023-06-17' AS Date), CAST(N'2024-12-04' AS Date), CAST(4.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TÜRLERR] ([Tür_ID], [Ad], [Eklenme_Tarihi], [Güncellenme_Tarihi], [Popülerlik_Puanı], [Kitap_Sayısı], [Yazar_Sayısı]) VALUES (32, N'Çocuk Edebiyatı', CAST(N'2016-02-17' AS Date), CAST(N'2024-12-04' AS Date), CAST(4.70 AS Decimal(18, 2)), 3, 3)
GO
INSERT [dbo].[ÜYELERR] ([UyeID], [TcNo], [Adı], [Soyadı], [DoğumTarihi], [Telefon], [Mail], [Adres], [UyelikTarihi], [UyelikDurumu], [Ceza_ID], [ÖdünçSayısı], [ÖğrenciMi], [SonGirişTarihi], [Cinsiyet], [İlgiAlanı], [Giriş_Saati], [Çıkış_Saati]) VALUES (1, N'20336874528', N'Efe', N'Onar', CAST(N'2004-03-18' AS Date), N'5579632520', N'efeonar04@gmail.com', N'Nazilli', CAST(N'2023-10-02' AS Date), N'Aktif     ', 1, 1, 1, CAST(N'2024-11-20' AS Date), N'e    ', N'Roman               ', CAST(N'13:05:45' AS Time), CAST(N'17:10:10' AS Time))
INSERT [dbo].[ÜYELERR] ([UyeID], [TcNo], [Adı], [Soyadı], [DoğumTarihi], [Telefon], [Mail], [Adres], [UyelikTarihi], [UyelikDurumu], [Ceza_ID], [ÖdünçSayısı], [ÖğrenciMi], [SonGirişTarihi], [Cinsiyet], [İlgiAlanı], [Giriş_Saati], [Çıkış_Saati]) VALUES (2, N'78965874123', N'Batıhan', N'Doğan', CAST(N'2005-01-19' AS Date), N'5068940173', N'batihandogan48@gmail.com', N'Marmaris', CAST(N'2023-08-15' AS Date), N'Aktif     ', 2, 0, 1, CAST(N'2024-05-13' AS Date), N'e    ', N'Roman               ', CAST(N'09:00:13' AS Time), CAST(N'14:40:12' AS Time))
INSERT [dbo].[ÜYELERR] ([UyeID], [TcNo], [Adı], [Soyadı], [DoğumTarihi], [Telefon], [Mail], [Adres], [UyelikTarihi], [UyelikDurumu], [Ceza_ID], [ÖdünçSayısı], [ÖğrenciMi], [SonGirişTarihi], [Cinsiyet], [İlgiAlanı], [Giriş_Saati], [Çıkış_Saati]) VALUES (3, N'17961517639', N'Süleyman', N'Karadal', CAST(N'2005-04-04' AS Date), N'5055838167', N'suleymankrdl@yahoo.com', N'Konak', CAST(N'2020-04-06' AS Date), N'Pasif     ', 3, 0, 1, CAST(N'2020-09-17' AS Date), N'e    ', N'Şiir                ', CAST(N'11:47:50' AS Time), CAST(N'18:00:03' AS Time))
GO
INSERT [dbo].[YAYINCILAR] ([Yayinci_ID], [Ad], [Kuruluş], [Ülke], [Şehir], [Telefon], [Kitap Sayıları], [Ödüller], [Mail], [Web Sitesi], [Durum], [Güncellenme Tarihi]) VALUES (1, N'Özyürek Yayınevi', 1949, N'Türkiye', N'İstanbul', N'0212520228', N'100', N'0', N'satis@ozyurekyayinevi.com', N'https://www.ozyurekyayinevi.com.tr/', N'Aktif', CAST(N'2024-11-15' AS Date))
INSERT [dbo].[YAYINCILAR] ([Yayinci_ID], [Ad], [Kuruluş], [Ülke], [Şehir], [Telefon], [Kitap Sayıları], [Ödüller], [Mail], [Web Sitesi], [Durum], [Güncellenme Tarihi]) VALUES (2, N'Alkım Yayınevi', 1989, N'Türkiye', N'İstanbul', N'0216450200', N'30', N'0', N'Yok', N'Yok', N'Pasif', CAST(N'2024-11-15' AS Date))
INSERT [dbo].[YAYINCILAR] ([Yayinci_ID], [Ad], [Kuruluş], [Ülke], [Şehir], [Telefon], [Kitap Sayıları], [Ödüller], [Mail], [Web Sitesi], [Durum], [Güncellenme Tarihi]) VALUES (4, N'Kabalcı Yayınevi', 2011, N'Türkiye', N'İstanbul', N'0212236623', N'100', N'0', N'yayinevi@kabalciyayincilik.com', N'https://kabalcikitap.com/', N'Aktif', CAST(N'2024-11-16' AS Date))
GO
INSERT [dbo].[YAZARLAR] ([YazarID], [Ad], [Soyadı], [Doğum_Yılı], [Ölüm_Yılı], [Ülke], [Eser_Sayısı], [Ödül_Sayısı], [Web_Sitesi], [Doğum_Yeri], [Popülerlik_Puanı], [Çalışma_Alanı]) VALUES (1, N'Victor', N'Hugo', 1802, 1885, N'Fransa', 276, 0, N'Yok', N'Besançon', CAST(4.90 AS Decimal(10, 2)), N'Roman ')
INSERT [dbo].[YAZARLAR] ([YazarID], [Ad], [Soyadı], [Doğum_Yılı], [Ölüm_Yılı], [Ülke], [Eser_Sayısı], [Ödül_Sayısı], [Web_Sitesi], [Doğum_Yeri], [Popülerlik_Puanı], [Çalışma_Alanı]) VALUES (2, N'Peyami', N'Safa', 1899, 1961, N'Türkiye', 500, 0, N'Yok', N'İstanbul', CAST(4.70 AS Decimal(10, 2)), N'Psikolojik Roman')
INSERT [dbo].[YAZARLAR] ([YazarID], [Ad], [Soyadı], [Doğum_Yılı], [Ölüm_Yılı], [Ülke], [Eser_Sayısı], [Ödül_Sayısı], [Web_Sitesi], [Doğum_Yeri], [Popülerlik_Puanı], [Çalışma_Alanı]) VALUES (3, N'Antonie', N'de Saint-Exupéry', 1900, 1944, N'Fransa', 10, 3, N'Yok', N'Lyon', CAST(4.30 AS Decimal(10, 2)), N'Çocuk Edebiyatı')
GO
/****** Object:  Index [IX_CEZALAR]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CEZALAR] ON [dbo].[CEZALAR]
(
	[Güncelleyen_Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Table_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Table_1] ON [dbo].[CEZALAR]
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Table_1_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Table_1_1] ON [dbo].[CEZALAR]
(
	[Kitap_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Table_1_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Table_1_2] ON [dbo].[CEZALAR]
(
	[Fatura_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Table_1_3]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Table_1_3] ON [dbo].[CEZALAR]
(
	[Ekeleyen_Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ETKİNLİKLER]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ETKİNLİKLER] ON [dbo].[ETKİNLİKLER]
(
	[Şube_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ETKİNLİKLER_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ETKİNLİKLER_1] ON [dbo].[ETKİNLİKLER]
(
	[Ekeleyen_Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ETKİNLİKLER_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ETKİNLİKLER_2] ON [dbo].[ETKİNLİKLER]
(
	[Güncelleyen_Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FATURALAR]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FATURALAR] ON [dbo].[FATURALAR]
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FATURALAR_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FATURALAR_1] ON [dbo].[FATURALAR]
(
	[Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FATURALAR_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FATURALAR_2] ON [dbo].[FATURALAR]
(
	[Ekleyen_Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FATURALAR_3]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FATURALAR_3] ON [dbo].[FATURALAR]
(
	[Güncelleyen_Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KİTAPLAR]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KİTAPLAR] ON [dbo].[KİTAPLAR]
(
	[Kitap_Adı] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PERSONEL]    Script Date: 14.12.2024 02:17:37 ******/
CREATE NONCLUSTERED INDEX [IX_PERSONEL] ON [dbo].[PERSONEL]
(
	[Şube_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONEL_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PERSONEL_1] ON [dbo].[PERSONEL]
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONEL_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PERSONEL_2] ON [dbo].[PERSONEL]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONEL_3]    Script Date: 14.12.2024 02:17:37 ******/
CREATE NONCLUSTERED INDEX [IX_PERSONEL_3] ON [dbo].[PERSONEL]
(
	[Adres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ŞUBELER]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ŞUBELER] ON [dbo].[ŞUBELER]
(
	[Adres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ŞUBELER_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ŞUBELER_1] ON [dbo].[ŞUBELER]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ŞUBELER_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ŞUBELER_2] ON [dbo].[ŞUBELER]
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TÜRLERR]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TÜRLERR] ON [dbo].[TÜRLERR]
(
	[Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ÜYELERR]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ÜYELERR] ON [dbo].[ÜYELERR]
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ÜYELERR_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ÜYELERR_1] ON [dbo].[ÜYELERR]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ÜYELERR_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ÜYELERR_2] ON [dbo].[ÜYELERR]
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ÜYELERR_3]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ÜYELERR_3] ON [dbo].[ÜYELERR]
(
	[Ceza_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_YAYINCILAR]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_YAYINCILAR] ON [dbo].[YAYINCILAR]
(
	[Web Sitesi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_YAYINCILAR_1]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_YAYINCILAR_1] ON [dbo].[YAYINCILAR]
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YAYINCILAR_2]    Script Date: 14.12.2024 02:17:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_YAYINCILAR_2] ON [dbo].[YAYINCILAR]
(
	[Yayinci_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TÜRLERR] ADD  CONSTRAINT [DF_TÜRLERR_Kitap_Sayısı]  DEFAULT ((0)) FOR [Kitap_Sayısı]
GO
ALTER TABLE [dbo].[TÜRLERR] ADD  CONSTRAINT [DF_TÜRLERR_Yazar_Sayısı]  DEFAULT ((0)) FOR [Yazar_Sayısı]
GO
ALTER TABLE [dbo].[CEZALAR]  WITH CHECK ADD  CONSTRAINT [FK_CEZALAR_ŞUBELER] FOREIGN KEY([Şube_ID])
REFERENCES [dbo].[ŞUBELER] ([Şube_ID])
GO
ALTER TABLE [dbo].[CEZALAR] CHECK CONSTRAINT [FK_CEZALAR_ŞUBELER]
GO
ALTER TABLE [dbo].[CEZALAR]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_KİTAPLAR] FOREIGN KEY([Kitap_ID])
REFERENCES [dbo].[KİTAPLAR] ([Kitap_ID])
GO
ALTER TABLE [dbo].[CEZALAR] CHECK CONSTRAINT [FK_Table_1_KİTAPLAR]
GO
ALTER TABLE [dbo].[CEZALAR]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_Table_1] FOREIGN KEY([Ceza_ID])
REFERENCES [dbo].[ÜYELERR] ([Ceza_ID])
GO
ALTER TABLE [dbo].[CEZALAR] CHECK CONSTRAINT [FK_Table_1_Table_1]
GO
ALTER TABLE [dbo].[CEZALAR]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_ÜYELERR] FOREIGN KEY([UyeID])
REFERENCES [dbo].[ÜYELERR] ([UyeID])
GO
ALTER TABLE [dbo].[CEZALAR] CHECK CONSTRAINT [FK_Table_1_ÜYELERR]
GO
ALTER TABLE [dbo].[ETKİNLİKLER]  WITH CHECK ADD  CONSTRAINT [FK_ETKİNLİKLER_CEZALAR] FOREIGN KEY([Ekeleyen_Personel_ID])
REFERENCES [dbo].[CEZALAR] ([Ekeleyen_Personel_ID])
GO
ALTER TABLE [dbo].[ETKİNLİKLER] CHECK CONSTRAINT [FK_ETKİNLİKLER_CEZALAR]
GO
ALTER TABLE [dbo].[ETKİNLİKLER]  WITH CHECK ADD  CONSTRAINT [FK_ETKİNLİKLER_CEZALAR1] FOREIGN KEY([Güncelleyen_Personel_ID])
REFERENCES [dbo].[CEZALAR] ([Güncelleyen_Personel_ID])
GO
ALTER TABLE [dbo].[ETKİNLİKLER] CHECK CONSTRAINT [FK_ETKİNLİKLER_CEZALAR1]
GO
ALTER TABLE [dbo].[ETKİNLİKLER]  WITH CHECK ADD  CONSTRAINT [FK_ETKİNLİKLER_ŞUBELER] FOREIGN KEY([Şube_ID])
REFERENCES [dbo].[ŞUBELER] ([Şube_ID])
GO
ALTER TABLE [dbo].[ETKİNLİKLER] CHECK CONSTRAINT [FK_ETKİNLİKLER_ŞUBELER]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_CEZALAR] FOREIGN KEY([Fatura_ID])
REFERENCES [dbo].[CEZALAR] ([Fatura_ID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_CEZALAR]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_CEZALAR1] FOREIGN KEY([Ekleyen_Personel_ID])
REFERENCES [dbo].[CEZALAR] ([Ekeleyen_Personel_ID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_CEZALAR1]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_CEZALAR2] FOREIGN KEY([Güncelleyen_Personel_ID])
REFERENCES [dbo].[CEZALAR] ([Güncelleyen_Personel_ID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_CEZALAR2]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_PERSONEL] FOREIGN KEY([Personel_ID])
REFERENCES [dbo].[PERSONEL] ([Personel_ID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_PERSONEL]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_ÜYELERR] FOREIGN KEY([UyeID])
REFERENCES [dbo].[ÜYELERR] ([UyeID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_ÜYELERR]
GO
ALTER TABLE [dbo].[KİTAPLAR]  WITH CHECK ADD  CONSTRAINT [FK_KİTAPLAR_KİTAPLAR] FOREIGN KEY([Tür_ID])
REFERENCES [dbo].[TÜRLERR] ([Tür_ID])
GO
ALTER TABLE [dbo].[KİTAPLAR] CHECK CONSTRAINT [FK_KİTAPLAR_KİTAPLAR]
GO
ALTER TABLE [dbo].[KİTAPLAR]  WITH CHECK ADD  CONSTRAINT [FK_KİTAPLAR_YAYINCILAR1] FOREIGN KEY([Yayinci_ID])
REFERENCES [dbo].[YAYINCILAR] ([Yayinci_ID])
GO
ALTER TABLE [dbo].[KİTAPLAR] CHECK CONSTRAINT [FK_KİTAPLAR_YAYINCILAR1]
GO
ALTER TABLE [dbo].[KİTAPLAR]  WITH CHECK ADD  CONSTRAINT [FK_KİTAPLAR_YAZARLAR] FOREIGN KEY([YazarID])
REFERENCES [dbo].[YAZARLAR] ([YazarID])
GO
ALTER TABLE [dbo].[KİTAPLAR] CHECK CONSTRAINT [FK_KİTAPLAR_YAZARLAR]
GO
ALTER TABLE [dbo].[PERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONEL_PERSONEL] FOREIGN KEY([Şube_ID])
REFERENCES [dbo].[ŞUBELER] ([Şube_ID])
GO
ALTER TABLE [dbo].[PERSONEL] CHECK CONSTRAINT [FK_PERSONEL_PERSONEL]
GO
ALTER TABLE [dbo].[YAYINCILAR]  WITH CHECK ADD  CONSTRAINT [FK_YAYINCILAR_YAYINCILAR] FOREIGN KEY([Yayinci_ID])
REFERENCES [dbo].[YAYINCILAR] ([Yayinci_ID])
GO
ALTER TABLE [dbo].[YAYINCILAR] CHECK CONSTRAINT [FK_YAYINCILAR_YAYINCILAR]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [CK_FATURALAR] CHECK  (([Durum]='İptal' OR [Durum]='Ödendi' OR [Durum]='Beklemede'))
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [CK_FATURALAR]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [CK_FATURALAR_1] CHECK  (([Ödeme_Yöntemi]='Nakit' OR [Ödeme_Yöntemi]='Kart'))
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [CK_FATURALAR_1]
GO
ALTER TABLE [dbo].[KİTAPLAR]  WITH CHECK ADD  CONSTRAINT [CK_KİTAPLAR] CHECK  ((len([Basım_Yılı])=(4)))
GO
ALTER TABLE [dbo].[KİTAPLAR] CHECK CONSTRAINT [CK_KİTAPLAR]
GO
ALTER TABLE [dbo].[ÜYELERR]  WITH CHECK ADD  CONSTRAINT [CK_ÜYELERR] CHECK  ((len([TcNo])=(11)))
GO
ALTER TABLE [dbo].[ÜYELERR] CHECK CONSTRAINT [CK_ÜYELERR]
GO
ALTER TABLE [dbo].[ÜYELERR]  WITH CHECK ADD  CONSTRAINT [CK_ÜYELERR_1] CHECK  ((len([Telefon])=(10)))
GO
ALTER TABLE [dbo].[ÜYELERR] CHECK CONSTRAINT [CK_ÜYELERR_1]
GO
ALTER TABLE [dbo].[YAYINCILAR]  WITH CHECK ADD  CONSTRAINT [CK_YAYINCILAR] CHECK  ((len([Telefon])=(10)))
GO
ALTER TABLE [dbo].[YAYINCILAR] CHECK CONSTRAINT [CK_YAYINCILAR]
GO
ALTER TABLE [dbo].[YAYINCILAR]  WITH CHECK ADD  CONSTRAINT [CK_YAYINCILAR_1] CHECK  (([DURUM]='Pasif' OR [DURUM]='Aktif'))
GO
ALTER TABLE [dbo].[YAYINCILAR] CHECK CONSTRAINT [CK_YAYINCILAR_1]
GO
USE [master]
GO
