USE [master]
GO
/****** Object:  Database [20232452021_bahardonemi]    Script Date: 1.05.2025 21:27:09 ******/
CREATE DATABASE [20232452021_bahardonemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'20232452021_bahardonemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\20232452021_bahardonemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'20232452021_bahardonemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\20232452021_bahardonemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [20232452021_bahardonemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [20232452021_bahardonemi]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_arabaYas]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_arabaYas]
(@ıd int)
returns int
as
begin
declare @hesap int
select @hesap = YEAR(GETDATE()) - Yil from ARACLAR
where AracID = @ıd
return @hesap
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_aracYili]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_aracYili]
( @Yil int, @arac int)
returns int
as
begin
declare @aracYasi int;
SELECT @aracYasi = DATEDIFF(YEAR, DATEFROMPARTS(@Yil, 1, 1), GETDATE())
from ARACLAR
where AracID = @arac
return @aracYasi
end;



GO
/****** Object:  UserDefinedFunction [dbo].[fn_toplamFiyat]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_toplamFiyat]
()
returns decimal(10,2)
as
begin
declare @toplam decimal(10,2)
select @toplam = SUM(GunlukUcret) from ARACLAR
return @toplam
end;
GO
/****** Object:  Table [dbo].[ARAC_MARKA]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_MARKA](
	[MarkaID] [int] NOT NULL,
	[MarkaAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ARAC_MARKA] PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARAC_MODEL]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARAC_MODEL](
	[ModelID] [int] NOT NULL,
	[MarkaID] [int] NOT NULL,
	[ModelAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ARAC_MODEL] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARACLAR]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARACLAR](
	[AracID] [int] NOT NULL,
	[MarkaID] [int] NOT NULL,
	[ModelID] [int] NOT NULL,
	[Plaka] [nvarchar](20) NOT NULL,
	[Yil] [int] NOT NULL,
	[GunlukUcret] [decimal](10, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[LokasyonID] [int] NOT NULL,
	[Trafik_Cezası] [money] NULL,
	[SigortaID] [int] NULL,
	[Km] [int] NULL,
 CONSTRAINT [PK_ARACLAR] PRIMARY KEY CLUSTERED 
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KULLANICI_GIRISI]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI_GIRISI](
	[GirisID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
	[GirisTarihi] [date] NULL,
 CONSTRAINT [PK_KULLANICI_GIRISI] PRIMARY KEY CLUSTERED 
(
	[GirisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOKASYON]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOKASYON](
	[LokasyonID] [int] NOT NULL,
	[Şehir] [nvarchar](50) NOT NULL,
	[İlçe] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Çalışma_Saatleri] [nvarchar](50) NOT NULL,
	[Kayıt_Tarihi] [date] NOT NULL,
 CONSTRAINT [PK_LOKASYON] PRIMARY KEY CLUSTERED 
(
	[LokasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[MusteriID] [int] NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[TcNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Musteriler_MusteriID] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME_TIPLERI]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME_TIPLERI](
	[OdemeTipiID] [int] NOT NULL,
	[TipAdı] [nvarchar](50) NULL,
 CONSTRAINT [PK_ODEME_TIPLERI] PRIMARY KEY CLUSTERED 
(
	[OdemeTipiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEMELER]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEMELER](
	[OdemeID] [int] NOT NULL,
	[RezervasyonID] [int] NULL,
	[OdemeTipiID] [int] NULL,
	[Tuar] [decimal](10, 2) NULL,
	[OdemeTarihi] [date] NULL,
 CONSTRAINT [PK_ODEMELER] PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONELLER]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONELLER](
	[PersonelID] [int] NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[KullaniciAd] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Pozisyon] [nvarchar](50) NULL,
 CONSTRAINT [PK_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REZERVASYONLAR]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REZERVASYONLAR](
	[RezervasyonID] [int] NOT NULL,
	[MusteriID] [int] NULL,
	[AracID] [int] NULL,
	[PersonelID] [int] NULL,
	[Baslangic_Tarihi] [date] NULL,
	[Bitis_Tarihi] [date] NULL,
	[Toplam_Tutar] [decimal](10, 2) NULL,
	[LokasyonID] [int] NULL,
 CONSTRAINT [PK_REZERVASYONLAR] PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIGORTA]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGORTA](
	[SigortaID] [int] NOT NULL,
	[AracID] [int] NOT NULL,
	[Sigorta_Turu] [nvarchar](50) NOT NULL,
	[Sigorta_Sirketi] [nvarchar](50) NOT NULL,
	[Police_No] [nvarchar](50) NOT NULL,
	[Baslangic_Tarihi] [date] NOT NULL,
	[Bitis_Tarihi] [date] NOT NULL,
	[Prim_Tutarı] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SİGORTA] PRIMARY KEY CLUSTERED 
(
	[SigortaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEDEK_ARACLAR]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEDEK_ARACLAR](
	[AracID] [int] NOT NULL,
	[Plaka] [nvarchar](20) NULL,
	[MarkaID] [int] NULL,
	[ModelID] [int] NULL,
	[Yil] [int] NULL,
	[GunlukUcret] [decimal](10, 2) NULL,
	[Durum] [bit] NULL,
	[EklenmeTarihi] [datetime] NULL,
	[EkleyenKullanici] [nvarchar](50) NULL,
	[SilindiMi] [bit] NULL,
	[LokasyonID] [int] NULL,
 CONSTRAINT [PK_YEDEK_ARACLAR] PRIMARY KEY CLUSTERED 
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ARAC_MODEL]    Script Date: 1.05.2025 21:27:09 ******/
CREATE NONCLUSTERED INDEX [IX_ARAC_MODEL] ON [dbo].[ARAC_MODEL]
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ARACLAR]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ARACLAR] ON [dbo].[ARACLAR]
(
	[Plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ARACLAR_1]    Script Date: 1.05.2025 21:27:09 ******/
CREATE NONCLUSTERED INDEX [IX_ARACLAR_1] ON [dbo].[ARACLAR]
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ARACLAR_2]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ARACLAR_2] ON [dbo].[ARACLAR]
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KULLANICI_GIRISI]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KULLANICI_GIRISI] ON [dbo].[KULLANICI_GIRISI]
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LOKASYON]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LOKASYON] ON [dbo].[LOKASYON]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LOKASYON_1]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LOKASYON_1] ON [dbo].[LOKASYON]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Musteriler_Email]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Musteriler_Email] ON [dbo].[MUSTERILER]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Musteriler_Tc]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Musteriler_Tc] ON [dbo].[MUSTERILER]
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Musteriler_Telefon]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Musteriler_Telefon] ON [dbo].[MUSTERILER]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ODEMELER]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ODEMELER] ON [dbo].[ODEMELER]
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ODEMELER_1]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ODEMELER_1] ON [dbo].[ODEMELER]
(
	[OdemeTipiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONELLER]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PERSONELLER] ON [dbo].[PERSONELLER]
(
	[Sifre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONELLER_1]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PERSONELLER_1] ON [dbo].[PERSONELLER]
(
	[Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONELLER_2]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PERSONELLER_2] ON [dbo].[PERSONELLER]
(
	[Soyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERSONELLER_3]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PERSONELLER_3] ON [dbo].[PERSONELLER]
(
	[KullaniciAd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REZERVASYONLAR]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_REZERVASYONLAR] ON [dbo].[REZERVASYONLAR]
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REZERVASYONLAR_1]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_REZERVASYONLAR_1] ON [dbo].[REZERVASYONLAR]
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SIGORTA]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SIGORTA] ON [dbo].[SIGORTA]
(
	[Police_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SİGORTA]    Script Date: 1.05.2025 21:27:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SİGORTA] ON [dbo].[SIGORTA]
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARAC_MODEL]  WITH CHECK ADD  CONSTRAINT [FK_ARAC_MODEL_ARAC_MARKA] FOREIGN KEY([MarkaID])
REFERENCES [dbo].[ARAC_MARKA] ([MarkaID])
GO
ALTER TABLE [dbo].[ARAC_MODEL] CHECK CONSTRAINT [FK_ARAC_MODEL_ARAC_MARKA]
GO
ALTER TABLE [dbo].[ARACLAR]  WITH CHECK ADD  CONSTRAINT [FK_ARACLAR_ARAC_MARKA] FOREIGN KEY([MarkaID])
REFERENCES [dbo].[ARAC_MARKA] ([MarkaID])
GO
ALTER TABLE [dbo].[ARACLAR] CHECK CONSTRAINT [FK_ARACLAR_ARAC_MARKA]
GO
ALTER TABLE [dbo].[ARACLAR]  WITH CHECK ADD  CONSTRAINT [FK_ARACLAR_ARAC_MODEL] FOREIGN KEY([ModelID])
REFERENCES [dbo].[ARAC_MODEL] ([ModelID])
GO
ALTER TABLE [dbo].[ARACLAR] CHECK CONSTRAINT [FK_ARACLAR_ARAC_MODEL]
GO
ALTER TABLE [dbo].[ARACLAR]  WITH CHECK ADD  CONSTRAINT [FK_ARACLAR_LOKASYON] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[LOKASYON] ([LokasyonID])
GO
ALTER TABLE [dbo].[ARACLAR] CHECK CONSTRAINT [FK_ARACLAR_LOKASYON]
GO
ALTER TABLE [dbo].[ARACLAR]  WITH CHECK ADD  CONSTRAINT [FK_ARACLAR_SIGORTA] FOREIGN KEY([SigortaID])
REFERENCES [dbo].[SIGORTA] ([SigortaID])
GO
ALTER TABLE [dbo].[ARACLAR] CHECK CONSTRAINT [FK_ARACLAR_SIGORTA]
GO
ALTER TABLE [dbo].[KULLANICI_GIRISI]  WITH CHECK ADD  CONSTRAINT [FK_KULLANICI_GIRISI_PERSONELLER] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[PERSONELLER] ([PersonelID])
GO
ALTER TABLE [dbo].[KULLANICI_GIRISI] CHECK CONSTRAINT [FK_KULLANICI_GIRISI_PERSONELLER]
GO
ALTER TABLE [dbo].[ODEMELER]  WITH CHECK ADD  CONSTRAINT [FK_ODEMELER_ODEME_TIPLERI] FOREIGN KEY([OdemeTipiID])
REFERENCES [dbo].[ODEME_TIPLERI] ([OdemeTipiID])
GO
ALTER TABLE [dbo].[ODEMELER] CHECK CONSTRAINT [FK_ODEMELER_ODEME_TIPLERI]
GO
ALTER TABLE [dbo].[ODEMELER]  WITH CHECK ADD  CONSTRAINT [FK_ODEMELER_REZERVASYONLAR] FOREIGN KEY([RezervasyonID])
REFERENCES [dbo].[REZERVASYONLAR] ([RezervasyonID])
GO
ALTER TABLE [dbo].[ODEMELER] CHECK CONSTRAINT [FK_ODEMELER_REZERVASYONLAR]
GO
ALTER TABLE [dbo].[REZERVASYONLAR]  WITH CHECK ADD  CONSTRAINT [FK_REZERVASYONLAR_ARACLAR] FOREIGN KEY([AracID])
REFERENCES [dbo].[ARACLAR] ([AracID])
GO
ALTER TABLE [dbo].[REZERVASYONLAR] CHECK CONSTRAINT [FK_REZERVASYONLAR_ARACLAR]
GO
ALTER TABLE [dbo].[REZERVASYONLAR]  WITH CHECK ADD  CONSTRAINT [FK_REZERVASYONLAR_LOKASYON] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[LOKASYON] ([LokasyonID])
GO
ALTER TABLE [dbo].[REZERVASYONLAR] CHECK CONSTRAINT [FK_REZERVASYONLAR_LOKASYON]
GO
ALTER TABLE [dbo].[REZERVASYONLAR]  WITH CHECK ADD  CONSTRAINT [FK_REZERVASYONLAR_PERSONELLER] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[PERSONELLER] ([PersonelID])
GO
ALTER TABLE [dbo].[REZERVASYONLAR] CHECK CONSTRAINT [FK_REZERVASYONLAR_PERSONELLER]
GO
ALTER TABLE [dbo].[SIGORTA]  WITH CHECK ADD  CONSTRAINT [FK_SİGORTA_ARACLAR] FOREIGN KEY([AracID])
REFERENCES [dbo].[ARACLAR] ([AracID])
GO
ALTER TABLE [dbo].[SIGORTA] CHECK CONSTRAINT [FK_SİGORTA_ARACLAR]
GO
ALTER TABLE [dbo].[YEDEK_ARACLAR]  WITH CHECK ADD  CONSTRAINT [FK_YEDEK_ARACLAR_ARAC_MARKA] FOREIGN KEY([MarkaID])
REFERENCES [dbo].[ARAC_MARKA] ([MarkaID])
GO
ALTER TABLE [dbo].[YEDEK_ARACLAR] CHECK CONSTRAINT [FK_YEDEK_ARACLAR_ARAC_MARKA]
GO
ALTER TABLE [dbo].[YEDEK_ARACLAR]  WITH CHECK ADD  CONSTRAINT [FK_YEDEK_ARACLAR_LOKASYON] FOREIGN KEY([LokasyonID])
REFERENCES [dbo].[LOKASYON] ([LokasyonID])
GO
ALTER TABLE [dbo].[YEDEK_ARACLAR] CHECK CONSTRAINT [FK_YEDEK_ARACLAR_LOKASYON]
GO
ALTER TABLE [dbo].[ARACLAR]  WITH CHECK ADD  CONSTRAINT [CK_ARACLAR_1] CHECK  (([GunlukUcret]>(0)))
GO
ALTER TABLE [dbo].[ARACLAR] CHECK CONSTRAINT [CK_ARACLAR_1]
GO
ALTER TABLE [dbo].[LOKASYON]  WITH CHECK ADD  CONSTRAINT [CK_Table_1_Telefon] CHECK  ((len([Telefon])=(10)))
GO
ALTER TABLE [dbo].[LOKASYON] CHECK CONSTRAINT [CK_Table_1_Telefon]
GO
ALTER TABLE [dbo].[LOKASYON]  WITH CHECK ADD  CONSTRAINT [CK_Table_1Email] CHECK  ((charindex('@',[Email])>(0)))
GO
ALTER TABLE [dbo].[LOKASYON] CHECK CONSTRAINT [CK_Table_1Email]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_Email] CHECK  ((charindex('@',[Email])>(0)))
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [CK_Musteriler_Email]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_Tc] CHECK  ((len([TcNo])=(11)))
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [CK_Musteriler_Tc]
GO
ALTER TABLE [dbo].[MUSTERILER]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_Telefon] CHECK  ((len([Telefon])=(10)))
GO
ALTER TABLE [dbo].[MUSTERILER] CHECK CONSTRAINT [CK_Musteriler_Telefon]
GO
/****** Object:  StoredProcedure [dbo].[pr_kayitSilme]    Script Date: 1.05.2025 21:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pr_kayitSilme]
(@input1 int)
as
begin
DELETE FROM MUSTERILER
WHERE MusteriID = @input1
end;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LOKASYON', @level2type=N'CONSTRAINT',@level2name=N'CK_Table_1Email'
GO
USE [master]
GO
